# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarize

**Objectives:**
- List popular languages for Data Science
- Demonstrate basic calculations in Python
- Intoduce Jupyter Notebook environment

Some of the popular languages that Data Scientists use are:

1. Pyhton
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

-NumPy
-pandas
-scikit-learn
-Tensorflow
-matplotlib

| Data Science Tools  |
| ------------------ |
|Jupyter Notebook|
|RStudio| 
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Inna